* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   body {
     margin: 0px;
     padding: 0px;
     background-image: url("login.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     height: 100vh;
     overflow: hidden;
   }
   
   .center {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 350px;
     background: white;
     border-radius: 10px;
     box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
   }
   .center h1 {
     font-family: sans-serif;
     font-size: x-large;
     font-weight: bold;
     text-align: center;
     padding: 20px 0;
     border-bottom: 1px solid silver;
   }
   
   .center form {
     padding: 0 40px;
     box-sizing: border-box;
   }
   
   form .txt_field {
     position: relative;
     border-bottom: 2px solid #adadad;
     margin: 30px 0;
   }
   
   .txt_field input {
     width: 100%;
     padding: 0 5px;
     height: 40px;
     font-size: 16px;
     border: none;
     background: none;
     outline: none;
   }
   
   .txt_field label {
     position: absolute;
     top: 50%;
     left: 5px;
     color: #adadad;
     transform: translateY(-50%);
     font-size: 16px;
     pointer-events: none;
     transition: 0.5s;
   
      -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
   }
   
   .txt_field span::before {
     content: "";
     position: absolute;
     top: 40px;
     left: 0;
     width: 0%;
     height: 2px;
     background: #2691d9;
     transition: 0.5s;
   
   }
   
   .txt_field input:focus ~ label,
   .txt_field input:valid ~ label {
     top: -5px;
     color: #2691d9;
   }
   
   .txt_field input:focus ~ span::before,
   .txt_field input:valid ~ span::before {
     width: 100%;
   }
   
   .dropbox {
     text-align: center;
     margin: 20px;
   }
   
   .pass:hover {
     text-decoration: underline;
   }
   #dropbox {
     width: 100px;
     height: 30px;
     border: 2px solid #2691d9;
     border-radius: 20px;
     padding-left: 21px;
     font-weight: 760;
     background-color: #2691d9;
     color: white;
     cursor: pointer;
   }
   
   #login{
     width: 100px;
     height: 30px;
     border: 2px solid #2691d9;
     border-radius: 20px;
     
     font-weight: 760;
     background-color: #2691d9;
     color: white;
     cursor: pointer;
     margin-left: 85px;
   }
   .signup_link {
     margin: 30px 0;
     text-align: center;
     font-size: 16px;
     color: #666666;
   }
   
   .signup_link a {
     color: #2691d9;
     
   }
   
   .signup_link a:hover {
     text-decoration: none;
   }
   